.app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #57407c;
}

.game {
  padding: 100px;
}

.gameHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 5px solid transparent;
  margin-bottom: 10px;
}
.newGame,
.score {
  background-color: #3d2963;
  padding: 10px;
  font-size: 20px;
  color: #ffffffa2;
  border-radius: 10px;
  cursor: pointer;
}

.board {
  width: 400px;
  height: 400px;

  /* background-color: #cdc1b5; */
  /* border: 5px solid transparent; */

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.tile {
  background-color: #3d2963;
  border: 5px solid #57407c;
  border-radius: 15px;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.tileImg {
  width: 90px;
  height: 90px;
}
.newTile {
  animation: newTile 0.2s ease-in forwards;
}

.overImg,
.wonImg {
  width: 400px;
  height: 400px;
}

@keyframes newTile {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
