.app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #57407c;
}

.game {
  padding: 100%;
}
.titleDiv {
  position: relative;
  display: flex;
  justify-content: center;
}
.title {
  text-align: center;
  color: #ffffff;
  font-size: 75px;
  font-weight: 800;
  margin: 0;
  padding: 0 20px;
  z-index: 99;
  background-color: #57407c;
  /* position: relative; */
}

.titleLine {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 2px;
  width: 100%;
  background-color: #3d2963;
  /* z-index: ; */
}

.gameHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 5px solid transparent;
  margin-bottom: 10px;
}

.newGame {
  background-color: #3d2963;
  padding: 0 20px;
  font-size: 18px;
  align-self: normal;
  display: flex;
  align-items: center;
  color: #ffffffa2;
  border-radius: 10px;
  cursor: pointer;
}

.scoresDiv {
  display: flex;
  gap: 15px;
  padding: 5px 20px;
  color: #ffffffa2;
  border-radius: 10px;
  background-color: #3d2963;
}
.scoresDark {
  color: #ffffff;
}
.scoresTitle {
  font-size: 12px;
}

.newGame:hover {
  background-color: #ed5471;
  color: #3d2963;
}

.board {
  max-width: 400px;
  max-height: 400px;
  width: calc(100vw - 20px);
  height: calc(100vw - 20px);

  /* background-color: #cdc1b5; */
  /* border: 5px solid transparent; */

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.tile {
  background-color: #3d2963;
  border: 5px solid #57407c;
  border-radius: 15px;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.tileImg {
  width: 90px;
  height: 90px;
}
.newTile {
  animation: newTile 0.2s ease-in forwards;
}

.overImg,
.wonImg {
  max-width: 400px;
  max-height: 400px;
  width: calc(100vw - 20px);
  height: calc(100vw - 20px);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  gap: 35px;
  color: #ffffff;
}

.footerBold {
  font-weight: 600;
}
.keys {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.iconsDiv {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.footerIcon {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@keyframes newTile {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 420px) {
  .tile {
    width: calc((100vw - 20px) / 4 - 10px);
    height: calc((100vw - 20px) / 4 - 10px);
  }

  .tileImg {
    width: calc((100vw - 20px) / 4 - 10px);
    height: calc((100vw - 20px) / 4 - 10px);
  }
}
